body {
    background: #212121;
    color: #bbb;
}

code {
    max-width: 100%;
    display: inline-block;
    background: #323232;
    /* overflow: scroll; */
    overflow-y: hidden;
    line-height: 1.2rem;
}

h1+a {
    color: green;
}

a {
    color: #aaf
}

a:visited {
    color: #aaa;
}

.profile-picture {
    width: 50px;
    height: auto;
}