body {
    background: #212121;
    color: #bbb;
}

code {
    width: 100%;
    display: inline-block;
    background: #323232;
    overflow: scroll;
    overflow-y: hidden;
}
h1+a {
    color: green;
}
a {
    color: #aaa;
}
a:visited {
    color: #aaf
}
.profile-picture {
    width: 50px;
    height: auto;
}